*.env
*.class
*.log
log
src/intermediate_files/*
src/out.txt
src/*.log
vendor/bundle
.ruby-gemset
Gemfile.lock
docs/_build/
pkg
coverage
Vagrantfile
.vagrant
.DS_Store
spec/fixtures/test_client.*
spec/fixtures/test_server.*
